[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-testmon = "==0.9.19"
pytest-watch = "*"
pytest-sugar = "*"
pytest-cov = "*"
pytest-xdist = "*"
black = "==19.3b0"
bandit = "*"
autoflake = "*"
epc = "*"
flake8 = "*"
importmagic = "*"
pyls-mypy = "*"
pycodestyle = "*"
pre-commit = "*"
python-dotenv = "*"
pyls-isort = "*"
pylint = "*"
pytest-freezegun = "*"

[packages]
flask = "==1.1.1"
flask-restplus = "==0.13.0"
flask-sqlalchemy = "==2.4.1"
psycopg2-binary = "==2.8.4"
flask-shell-ipython = "==0.4.1"
gunicorn = "==20.0.4"
flask-admin = "==1.5.4"
flask-cors = "==3.0.8"
flask-bcrypt = "==0.7.1"
pyjwt = "==2.4.0"

[requires]
python_version = "3.8"
